body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

:root {
    --size: max(min(1px, calc(100vw / 330)), calc(32px / 62));
    --key-size: max(min(1px, calc(100vw / 500)));
    --border-unspecified: #d3d6da;
    --border-selected-unspecified: #878a8c;
    --color-unspecified: #000000;
    --background-specified-correct: #6aaa64;
    --color-specified-correct: #ffffff;
    --background-specified-present: #c9b458;
    --color-specified-present: #ffffff;
    --background-specified-absent: #787c7e;
    --color-specified-absent: #ffffff;
    --default-font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

@font-face {
    font-family: "Karnak";
    src: url("/KarnakPro-Bold.ttf");
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.rowContainer {
    flex-flow: row;
    height: min-content;
}

.columnContainer {
    flex-flow: column;
    width: min-content;
}

.innerCentralAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterContainer {
    border: 2px solid;
    font-size: 32px;
    font-weight: 700;
    font-family: var(--default-font-family);
    width: calc(var(--size) * 62 - 4px);
    height: calc(var(--size) * 62 - 4px);
}

.unspecifiedLetter {
    border-color: var(--border-unspecified);
    color: var(--color-unspecified);
}

.specifiedLetter {
    transform-style: preserve-3d;
    border-color: var(--border-unspecified);
    color: var(--color-unspecified);
}

.specifiedCorrect {
    animation: appearCorrect 0.8s forwards;
}

.specifiedPresent {
    animation: appearPresent 0.8s forwards;
}

.specifiedAbsent {
    animation: appearAbsent 0.8s forwards;
}

@keyframes appearCorrect {
    0% {
        transform: rotateX(0deg);
        border-color: var(--border-unspecified);
        background: transparent;
        color: var(--color-unspecified);
    }

    40% {
        transform: rotateX(90deg);
        border-color: var(--border-unspecified);
        background: transparent;
        color: var(--color-unspecified);
    }

    41% {
        transform: rotateX(90deg);
        border-color: var(--background-specified-correct);
        background: var(--background-specified-correct);
        color: var(--color-specified-correct);
    }

    100% {
        transform: rotateX(0deg);
        border-color: var(--background-specified-correct);
        background: var(--background-specified-correct);
        color: var(--color-specified-correct);
    }
}

@keyframes appearPresent {
    0% {
        transform: rotateX(0deg);
        border-color: var(--border-unspecified);
        background: transparent;
        color: var(--color-unspecified);
    }

    40% {
        transform: rotateX(90deg);
        border-color: var(--border-unspecified);
        background: transparent;
        color: var(--color-unspecified);
    }

    41% {
        transform: rotateX(90deg);
        border-color: var(--background-specified-present);
        background: var(--background-specified-present);
        color: var(--color-specified-present);
    }

    100% {
        transform: rotateX(0deg);
        border-color: var(--background-specified-present);
        background: var(--background-specified-present);
        color: var(--color-specified-present);
    }
}

@keyframes appearAbsent {
    0% {
        transform: rotateX(0deg);
        border-color: var(--border-unspecified);
        background: transparent;
        color: var(--color-unspecified);
    }

    40% {
        transform: rotateX(90deg);
        border-color: var(--border-unspecified);
        background: transparent;
        color: var(--color-unspecified);
    }

    41% {
        transform: rotateX(90deg);
        border-color: var(--background-specified-absent);
        background: var(--background-specified-absent);
        color: var(--color-specified-absent);
    }

    100% {
        transform: rotateX(0deg);
        border-color: var(--background-specified-absent);
        background: var(--background-specified-absent);
        color: var(--color-specified-absent);
    }
}

.keyStyle {
    width: calc(var(--key-size) * 43);
    min-width: max-content;
    height: 58px;
    font-size: 13px;
    font-weight: 700;
    font-family: var(--default-font-family);
    background: var(--border-unspecified);
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
}

.header {
    width: 100%;
    height: min-content;
    padding: 7px 0 7px 0;
    border-bottom: 1px solid var(--border-unspecified);
}

.headerTitle {
    font-family: "Karnak";
    font-size: 37px;
    margin: 0 auto 0 auto;
    width: min-content;
}

.alerts {
    position: absolute;
    display: flex;
    z-index: 1;
    flex-direction: column;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.alertBox {
    padding: 16px;
    margin: 16px;
    font-size: 16px;
    font-family: var(--default-font-family);
    border-radius: 4px;
    width: max-content;
    height: min-content;
    background: #000000;
    color: #ffffff;
}
